<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@page import="java.util.Iterator"%>
<%@page import="java.util.List"%>
<%@page import="com.jfinal.plugin.activerecord.Page" %>
<%@page import="com.jfinal.plugin.activerecord.Record" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登录</title>

    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/signin.css" rel="stylesheet">
    <script src="../js/ie-emulation-modes-warning.js"></script>
</head>

<body>
<div class="table-responsive">
    <table class="table table-hover ">
        <caption>待审核加班请求</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>工号</th>
            <th>姓名</th>
            <th>加班事由</th>
            <th>处理</th>
        </tr>
        </thead>
        <tbody>
        <%
        Page<Record> cpage = (Page<Record>)request.getAttribute("list");
            List<Record> list= cpage.getList();
                if(list!=null){
                Iterator<Record> iter=list.iterator();
                    while(iter.hasNext()){
                    Record re = iter.next();
                    %>

                    <tr class="active">
                        <td><% out.println(re.get("id"));%></td>
                        <td><% out.println(re.get("uid")); %></td>
                        <td><% out.println(re.getStr("name")); %></td>
                        <td><% out.println(re.getStr("cause")); %></td>
                        <%--<td>&nbsp;&nbsp;<a href="/deptMger/overtimeDetail/<%out.print(re.getId("id"));%>">修改</a></td>--%>
                    </tr>
                    <%
                    }
                    }%>
                    <tr class="active">
                        <td>产品1</td>
                        <td>23/11/2013</td>
                        <td>待发货</td>
                    </tr>
                    <tr class="success">
                        <td>产品2</td>
                        <td>10/11/2013</td>
                        <td>发货中</td>
                    </tr>
                    <tr class="warning">
                        <td>产品3</td>
                        <td>20/10/2013</td>
                        <td>待确认</td>
                    </tr>
                    <tr class="danger">
                        <td>产品4</td>
                        <td>20/10/2013</td>
                        <td>已退货</td>
                    </tr>
        </tbody>
    </table>
</div>

<script src="../js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>